---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
          <center>
            <!-- <h2><a href="/images/satBoutSheet.jpeg">Click here to download tonight's National Tournament bout sheet</a></h2> -->
            <!-- <h2><a href="https://parkwayvideo.com/live/ring1/">Live stream here</a></h2> -->
            <!-- <h4><a href="http://www.goldenglovesusa.org/">Tournament info and Live Stream link for National Golden Gloves can be found here</a></h4> -->

            {% comment %}
            *
            * JN 5/15/19: I moved this from below the sidebar images to here
            * First check, if there is a call for action-button
            *
            {% endcomment %}
            {% if page.callforaction.url contains 'http' %}
            {% assign url = '' %}
            {% else %}
            {% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
            {% endif %}
            {% if page.callforaction %}

                <div class="row t60 b60">
                    <div class="small-12 text-center columns">
                        <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
                    </div><!-- /.small-12.columns -->
                </div><!-- /.row -->
            {% endif %}
          </center>
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="medium-8 columns medium-offset-2">

  {% if page.specialannouncement.imageUrl %}
  <div class="row">
    <div class="small-12 columns text-center">
      <img src="{{ page.specialannouncement.imageUrl }}" />
    </div>
  </div>
  {% endif %}

  {% if page.specialannouncement %}
  <div class="row" style="margin-bottom:15px;">
    <div class="small-12 columns text-center">
      <h3>{{ page.specialannouncement.text }}</h3>
    </div>
  </div>
  {% endif %}

  <div class="text-center" style="margin-top: 0px;display: none;">
    {% comment %}
    * JN: adding a "tickets" button here, as a custom element
    {% endcomment %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="/tickets">2021 Tournament Tickets ></a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->

    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="/livefeed">Live Feeds on YouTube ></a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
    <!-- <img src="/images/2021StateTournamentPoster.jpg" style="width:70%;margin-bottom:12px;" /> -->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/t1_En15paKI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </div>

<div class="row t30">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->
{% include _sponsors.html %}

</div>
<div class="medium-2 columns"><center>
  In our corner:<br/>
  <a href="http://www.bkfnd.com/"><img src="/images/bradshaw_knight.png" style="width:60%;margin-top:5px;" /></a><br/>
  <a href="http://www.vortexoptics.com/"><img src="/images/vortex_optics.png" style="width:60%;" /></a><br/>
  <!-- <a href="https://www.ho-chunkgaming.com/madison/"><img src="/images/ho_chunk_gaming_logo.png" style="width:90%;" /></a><br/> -->
  <!-- <a href="http://tristatebasementrepair.com/"><img src="/images/tri_state_basement_logo.png" style="width:70%;margin-top:8px;margin-bottom:8px;" /></a><br/> -->
  <img src="/images/AFSLogo.jpg" style="width:60%;margin-top:5px;margin-bottom:15px;" /><br/>
  <a href="https://www.hdofmadison.com/"><img src="/images/HarleyDavidsonMadison.jpg" style="width:60%;margin-top:5px;margin-bottom:15px;" /></a><br/>
  <a href="https://www.hoffconstructioninc.com/"><img src="/images/hoff_logo.jpg" style="width:60%;margin-top:5px;margin-bottom:15px;" /></a><br/>
  <a href="https://goodmansjewelers.com/"><img src="/images/goodmans.png" style="width:80%;margin-bottom:10px;" /></a><br/>
  <a href="http://www.gothambagels.com/"><img src="/images/gotham_logo.png" style="width:45%;" /></a><br/>
  <a href="https://www.herbalaspect.com/"><img src="/images/herbalaspect.jpg" style="width:75%;margin-bottom:15px;" /></a><br/>
  <a href="https://www.eti-motors.com/"><img src="/images/electrotech.png" style="width:80%;" /></a><br/>
  <a href="http://badgerstateproductions.com/"><img src="/images/badger_state_productions_logo.png" style="width:75%;" /></a><br/>
  <a href="https://www.facebook.com/BadAppleTattooCo/"><img src="/images/bad-apple-circle-logo.jpg" style="width:40%;" /></a><br/>
  <a href="http://screendoorprinting.com/"><img src="/images/screen_door_logo.svg" style="width:50%;" /></a><br/>
  <a href="https://twistedfitnessgym.com/"><img src="/images/twisted_fitness_logo.svg" style="width:50%;margin-bottom:10px;" /></a><br/>
  <!-- <a href="https://madison365.com/"><img src="/images/M-365Logo-Black.png" style="width:35%;margin-bottom:10px;" /></a><br/> -->
  <!-- <a href="https://glassnickelpizza.com/"><img src="/images/GNP_circle.png" style="width:40%;" /></a><br/> -->
  <!-- <a href="http://www.marvelmysteryoil.com/"><img src="/images/mmo_logo.png" style="width:40%;" /></a><br/> -->
  <!-- <a href="https://nessalla.com/"><img src="/images/nessalla-full-color-round-300x300.png" style="width:40%;" /></a><br/> -->
  <!-- <a href="http://burchconcreteconstruction.com/"><img src="/images/burch_logo.jpg" style="width:40%;margin-top:5px;" /></a><br/> -->
  <a href="http://fordsgym.com/"><img src="/images/fords_logo.png" style="width:50%;" /></a><br/>
  <a href="https://www.visitmadison.com/sports/"><img src="/images/masc.png" style="width:40%;margin-top:20px;margin-bottom:20px;" /></a><br/>
  <a href="https://visitmiddleton.com/"><img src="/images/middleton_tourism.png" style="width:70%;""/></a><br/>
  <a href="https://www.facebook.com/BoxingFiendApparel/"><img src="/images/boxing_fiend.svg" style="width:70%;" /></a><br/>
  <a href="https://www.bluelakecg.com/"><img src="/images/bluelake.jpg" style="width:60%;margin-bottom:20px;" /></a><br/>
  <a href="http://www.cornercam.net/"><img src="/images/cc_text_logo.jpg" style="width:50%;" /></a><br/>
</center></div>

{% comment %}
*
* Original location for call-to-action-button
*
{% endcomment %}

{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

<!-- {% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div>


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='3' offset='1' %}
        </div>
    </div>
{% endunless %} -->


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
